<!-- { % load static %}  -->
<header>
    <nav>
        <ul class="nav-bar-list">
            <li>
                <a href="{% url 'home' %}" class="nav-bar-menu">Home</a>
            </li>
            <li>
                <a href="{% url 'about' %}" class="nav-bar-menu">About</a>
            </li>
            <li>
                <a href="{% url 'registration' %}" class="nav-bar-menu">Registration</a>
            </li>
            <li>
                <a href="{% url 'contact' %}" class="nav-bar-menu">Contact</a>
            </li>
        </ul>
    </nav>
</header>